<th>{{ gameListItem.title }}</th>
<td>{{ gameListItem.releaseDate }}</td>
<td>{{ gameListItem.price }}</td>
<td>
  <button (click)="selectGame($event)">
    Select
  </button>
  <!--<button ( [routerLink]= "['/games', game.id,'details']">
    Details
  </button>-->
</td>
