<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date de sortie</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody *ngIf="gameList.length > 0; else emptyList">
    <tr *ngFor="let gameListItem of gameList">
      <val-game-list-item [gameListItem]="gameListItem" (onGameClick)="showDetails(game)"></val-game-list-item>
    </tr>
  </tbody>

  <ng-template #emptyList>
    <td colspan="3">La liste est vide</td>
  </ng-template>
</table>

<div class="alert alert-light">
  {{ gameList|json }}
</div>
<app-simple-counter [startAt]="0" [step]="0.01" [delay]="2" [endAt]="10" [digits]="2"></app-simple-counter>

